.img1 {
    display: block;
    background-color: lightskyblue;
    padding: 20px;
    border: 10px solid salmon;
   
}
.img2 {
    display: block;
    background-color: lightskyblue;
    padding: 20px;
    border: 10px solid salmon;
    margin-left: 180px;
}
.img3 {
    display: block;
    background-color: lightskyblue;
    padding: 20px;
    border: 10px solid salmon;
    margin-left: 360px;
}

